
@model StudentsPortal.Models.Students

@{
    ViewBag.Title = "Students";
}

@using (Html.BeginForm("SaveStudents", "Students"))
{
<h2>Students Details</h2>

<label>Name:</label>
@Html.TextBoxFor(m => m.Name)

<br />

<label>Address:</label>
@Html.TextAreaFor(m => m.Address)

<br />

<label>Gender:</label>

<label>
@Html.RadioButtonFor(m => m.Gender, "M")
Male
</label>

<label>
@Html.RadioButtonFor(m => m.Gender, "F")
Female
</label>

<br/>

<label>Passport:</label>

<label>
@Html.CheckBoxFor(m => m.Passport)
</label>

<br/>

<button>Save</button>
}
